<table id='companiesTable' class='table' cellspacing='0' width='60%'%>
  <thead>
  <th>Name</th>
  <th>Product</th>
  <th>Markets</th>
  <th>Size</th>
  <th>Hiring</th>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
    <td><%= image_tag(company.thumbnail, class: 'company_logo') %></td>
    <td><%= company.concept %></td>
    <td>
      <% company.markets.each do |market| %>
        <%= market[:name] %>
      <% end %>
    </td>
    <td><%= company.size %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<script>
$(document).ready(function(){
    $('#companiesTable').dataTable({
      paging: false
    });
});
</script>
