// TODO: Refactor wit SASS

body {
  background-color: #ffffff;
}

/*Navbar*/

.navbar {
  background-color: #ffffff;
  box-shadow: 0px 1px 0px 0px #ebebeb, 0px 1px 2px 0px #EEEEEE;
  border-radius: 0px;
  border: none;
}

.nav.navbar-nav.top {
  float: right;
  margin-top: 9px;
}

.nav.navbar-nav.top>li>a {
  padding: 21px 15px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  background-color: #ffffff;
  font-size: 1.2em;
}

.nav.navbar-nav>li>a:hover {
  color: #ff5722;
}

/*Logo*/

.container.header_content {
  max-width: 55%;
}

.circle {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ff5722;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin: .3em .0em .3em .0em;
  display: inline-block;
}

#page_name {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #BDBDBD;
  padding-left: .5em;
}

/*Quote*/

.quote {
  float: left;
  margin: 25px 0 10px 0;
}

#front_quote {
  font-style: italic;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  color: #455A64;
}

#quote_source {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ff5722;
}

/*Table*/

.container.table {
  max-width: 55%
}

th {
  font-family: 'Open Sans', sans-serif;
  color: #455A64;
}

/*Search Box*/

.search_box {
  float: right;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0px 10px 0px;
}

.search_box label {
  color: #455A64;
}

.company_logo {
  max-height: 45px;
  max-width: 45px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,.05) 0 1px 4px;
  width: 100%;
  border: 1px solid #EEE;
  padding: 0;
}

/*Table Contents*/

.company {
  display: inline-block;
  padding: .2em .6em .3em;
  margin: 0em .2em .2em 0em;
  font-weight: 100;
  border-radius: 3px;
  color: #FFF;
} .market {
    background-color: #2196F3;
} .size {
  background-color: #8BC34A;
} .jobs {
  background-color: #FF5722;
}

.hidden {
  display: none;
}

#companiesTable {
  border-bottom: none;
  font-weight: 200;
  border-top-color: #ebebeb;
  border-width: 1px;
}

#companiesTable thead tr th {
  border-bottom: none;
}

/*Footer*/

#footer {
  height: 125px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #ebebeb, 1px 1px 2px 1px #EEEEEE;
  border-radius: 0px;
  border: none;
}

.contact {
  margin: 21px 10px 0px 10px;
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  background-color: #ffffff;
  font-size: 1.2em;
}

#footer-left {
  padding: 0px 0px 0px 0px;
}

#footer-right {
  padding: 0px 0px 0px 0px;
}

.bottom li {
  padding: 21px 10px 10px 0px;
}

.btn-primary {
  background-color: #2196F3;
}