// TODO: DRY Up

body {
  background-color: #ffffff;
}

// Navbar
.navbar {
  background-color: #ffffff;
  box-shadow: 0px 1px 0px 0px #ebebeb, 0px 1px 2px 0px #EEEEEE;
  border-radius: 0px;
  border: none;
}

.nav.navbar-nav.top {
  float: right;
  margin-top: 9px;
}

.nav.navbar-nav.top>li>a {
  padding: 21px 15px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  background-color: #ffffff;
  font-size: 1.2em;
  &:hover {
    color: #ff5722;
  }
}

// Logo
.circle {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ff5722;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin: .3em .0em .3em .0em;
  display: inline-block;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

#page_name_header {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #BDBDBD;
  padding-left: .5em;
  &:hover {
    text-decoration: none;
  }
}

// Quote
.quote {
  float: left;
  margin: 25px 0 10px 0;
}

#front_quote {
  font-style: italic;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  color: #455A64;
}

#quote_source {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ff5722;
}

// Table
th {
  font-family: 'Open Sans', sans-serif;
  color: #455A64;
}

// Search Box
.search_box {
  float: right;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0px 10px 0px;
}

.search_box label {
  color: #455A64;
}

.company_logo {
  float: left;
  overflow: hidden;
  max-height: 45px;
  max-width: 45px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,.05) 0 1px 4px;
  width: 100%;
  border: 1px solid #EEE;
  padding: 0;
}

.company_name {
  clear: both;
}

// .company_logo_small {
//   max-height: 30px;
//   max-width: 30px;
//   border-radius: 3px;
//   box-shadow: rgba(0,0,0,.05) 0 1px 4px;
//   width: 100%;
//   border: 1px solid #EEE;
//   padding: 0;
// }

// Company Table Contents
.company {
  display: inline-block;
  padding: .2em .6em .3em;
  margin: .2em .2em .2em 0em;
  font-weight: 100;
  border-radius: 3px;
  color: #FFF;
} .market {
    background-color: #2196F3;
} .size {
  background-color: #8BC34A;
} .jobs {
  background-color: #FF5722;
  &:hover {
    box-shadow: 0 6px 10px #9e9e9e, 0 10px 30px #cfcfcf;
  }
}

.company.jobs>a {
  color: #ffffff;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.hidden {
  display: none;
}

#companiesTable {
  border-bottom: none;
  font-weight: 200;
  border-top-color: #ebebeb;
  border-width: 1px;
}

#companiesTable thead tr th {
  border-bottom: none;
}

// Job Table Contents
.job {
  display: inline-block;
  padding: .2em .6em .3em;
  margin: .2em .2em .2em 0em;
  font-weight: 100;
  border-radius: 3px;
  color: #FFF;
} .role_type {
    background-color: #FF9800;
} .skill_type {
  background-color: #607D8B;
} .salary {
  background-color: #FF4081;
} .equity {
  background-color: #009688;
}

#job_company_name {
  font-family: 'Open Sans', sans-serif;
  color: #455A64;
}

.job_display_title {
  float: left;
}

  // &:hover {
  //   box-shadow: 0 6px 10px #9e9e9e, 0 10px 30px #cfcfcf;
  // }

.job.jobs>a {
  color: #ffffff;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.hidden {
  display: none;
}

#companiesTable {
  border-bottom: none;
  font-weight: 200;
  border-top-color: #ebebeb;
  border-width: 1px;
}

#companiesTable thead tr th {
  border-bottom: none;
}

// Footer
#footer {
  height: 145px;
  margin: 40px 0px 0px 0px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #ebebeb, 1px 1px 2px 1px #EEEEEE;
  border-radius: 0px;
  border: none;
}

.footer {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.contact {
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  background-color: #ffffff;
  font-size: 1.2em;
  padding: 21px 10px 0px 0px;
}

.nav.contact>li>a {
  display: inline-block;
  border: none;
  background-color: #009688;
  border-bottom: 5px solid #00796B;
  &:hover {
    box-shadow: 0 6px 10px #9e9e9e, 0 10px 30px #cfcfcf;
  }
}

#footer-left {
  padding: 0px 15px 0px 15px;
}

#footer-right {
  padding: 0px 0px 0px 0px;
}

.bottom li {
  padding: 21px 10px 10px 0px;
}

#page_name_footer {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #BDBDBD;
}