<div class="navbar navbar-nav">
  <div class="circle">V</div>
  <span id="page_name">VANCOUVER STARTUP JOBS</span>
    <div class="container">
      <div class="navbar-header">
      </div>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    </div>
  </div>
</div>
