<nav class="navbar navbar-default">
  <div class="container brand">
    <div class="brand">
      <div class="circle">V</div>
      <h2 id="page_name">VANCOUVER STARTUP JOBS</h2>
      <ul class="nav navbar-nav top">
        <li><a href="#">Startups</a></li>
        <li><a href="#">Jobs</a></li>
      </ul>
    </div>
  </div>
</nav>