<div class='quote'>
  <h3 id='front_quote'>
    "With all respect to Palo Alto, life in a semi-arid industrial park</br>
    isn’t for everyone (even if you can get some really good tacos)."
  </h3>
  <p id='quote_source'>—Ryan Holmes</p>
</div>